<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight:</span>
      <% spotlight = Work.spotlight %>
      <u><%= link_to spotlight.title, work_path(spotlight.id)  %></u> by  <%= spotlight.creator %>
    </h2>
    <p class="spotlight__description">
      <%=spotlight.votes.count%> <%=spotlight.votes.count > 1 ? 'votes' : 'vote' %> - <%= spotlight.description %>
    </p>
  </section>

  <hr class="root__hr">

  <section class="top-ten__container">
    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Movies
      </h2>
      <% movies = Work.top_ten(category:'movie') %>
      <% movies.each do |movie| %>
        <ul class="list-group top-ten__list">
          <li class="list-group-item">
            <h4>
              <%= link_to movie.title, work_path(movie.id)   %>
              <small class="top-ten__creator">by <%= movie.creator %></small>
            </h4>
            <p><%= movie.votes.count%> <%= movie.votes.count > 1? 'votes' : 'vote'%></p>
          </li>
        </ul>
      <% end %>
    </section>

    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Books
      </h2>
      <% books = Work.top_ten(category: 'book') %>
      <% books.each do |book| %>
        <ul class="list-group top-ten__list">
          <li class="list-group-item">
            <h4>
              <%= link_to book.title, work_path(book.id)   %>
              <small class="top-ten__creator">by <%= book.creator %></small>
            </h4>
            <p><%= book.votes.count%> <%= book.votes.count > 1? 'votes' : 'vote'%></p> 
          </li>
        </ul>
      <% end %>
    </section>

    <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Albums
      </h2>
      <% albums = Work.top_ten(category: 'album') %>
      <% albums.each do |album| %>
        <ul class="list-group top-ten__list">
          <li class="list-group-item">
            <h4>
              <%= link_to album.title, work_path(album.id)   %>
              <small class="top-ten__creator">by <%= album.creator %></small>
            </h4>
            <p><%= album.votes.count%> <%= album.votes.count > 1? 'votes' : 'vote'%></p> <%# will work on this to count votes %>
          </li>
        </ul>
      <% end %>
    </section>

  </section>
</main>