<% if @work.errors.any? %>
  <ul class="errors">
    <% @work.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<main>
  <h2>Add a new work</h2>
  <section>
    <%= form_with model: @work do |f| %>
      <div class ="form-group">
        <%= f.label :Category %>
        <%= f.select :category, ['album', 'book', 'movie'], class:"form-control"  %>
      </div>
      <div class ="form-group">
        <%= f.label :Title %>
        <%= f.text_field :title, class: "form-control"%>
      </div>
      <div class ="form-group">
        <%= f.label :Creator %>
        <%= f.text_field :creator, class: "form-control" %>
      </div>
      <div class ="form-group">
        <%= f.label :Publication_Year %>
        <%= f.text_field :publication_Year, class: "form-control" %>
      </div>
      <div class ="form-group">
        <%= f.label :Description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
      <div class ="form-group">
        <%= f.submit "#{action_name} Work", class:"btn btn-primary"%>
      </div>  
   <% end %>
  </section> 
</main>



  