<main>
  <h2>List of Works</h2>

  <section class="media-table">
    <h4>Albums</h4>
    <table class="table">
      <thead>
        <tr>
          <th width="80">Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% albums = @works.where(category: 'album') %>
        <% albums.each do |album| %>
          <tr>
            <td>votes#</td>
            <td><%= link_to album.title, work_path(album.id) %></td>
            <td><%= album.creator%></td>
            <td><%= album.publication_year%></td>
            <td><button class="btn btn-primary" rel="nofollow">Upvote</a></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>

  <section class="media-table">
    <h4>Books</h4>
    <table class="table">
      <thead>
        <tr>
          <th width="80">Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% books = @works.where(category: 'book') %>
        <% books.each do |book| %>
          <tr>
            <td>votes#</td>
            <td><%= link_to book.title, work_path(book.id) %></td>
            <td><%= book.creator%></td>
            <td><%= book.publication_year%></td>
            <td><button class="btn btn-primary" rel="nofollow">Upvote</a></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>

  <section class="media-table">
    <h4>Movies</h4>
    <table class="table">
      <thead>
        <tr>
          <th width="80">Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% movies = @works.where(category: 'movie') %>
        <% movies.each do |movie| %>
          <tr>
            <td>votes#</td>
            <td><%= link_to movie.title, work_path(movie.id) %></td>
            <td><%= movie.creator%></td>
            <td><%= movie.publication_year%></td>
            <td><button class="btn btn-primary" rel="nofollow">Upvote</a></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>

  <%= link_to 'View top media', root_path %>
  <%= link_to 'Add a new work', new_work_path %>
</main>