<main>
  <section>
    <h2><%= @work.title %></h2>
    <p>Created by:  <%= @work.creator %></p>
    <p>Published: <%= @work.publication_year %></p>
    <p><%= @work.description %></p>
    <section>
      <%= link_to 'Back to media ranks', root_path, class:"btn btn-primary" %>
      <%= link_to 'Edit', edit_work_path, class:"btn btn-primary" %>
      <%= link_to 'Upvote', work_votes_path(@work.id), method: :post, class:"btn btn-primary" %>
      <%= link_to 'Delete', work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>
    </section>
  </section>

  <section class="works-votes__container">
    <h3 class="works-votes__header">
      <%= @work.votes.count %> Votes for this <%=@work.category.capitalize%>
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>
      <%votes = @work.votes%>
      <tbody>
        <%votes.each do |vote|%>
          <tr>
            <td><%= User.find_by(id: vote.user_id).username%></td>
            <td><%= vote.created_at.strftime('%B %d, %Y') %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>
</main>