<main>
  <section>
    <h2><%= @work.title %></h2>
    <p>Created by:  <%= @work.creator %></p>
    <p>Published: <%= @work.publication_year %></p>
    <p><%= @work.description %></p>
    <section>
      <button class="btn btn-primary"><%= link_to 'Back to media ranks', root_path %></button>
      <button class="btn btn-primary"><%= link_to 'Edit', edit_work_path %></button>
      <button class="btn btn-primary" rel="nofollow" data-method="post">Upvote</button>
      <button class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow"><%= link_to 'Delete', work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"} %></button>
    </section>
  </section>

  <section class="works-votes__container">
    <h3 class="works-votes__header">23 Votes for this Album</h3>
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>vera</td>
          <td>May 21, 2020</td>
        
        </tr>
        
        <tr>
          <td>chelsea</td>
          <td>May 20, 2020</td>
        
        </tr><tr>
          <td>hasa</td>
          <td>May 20, 2020</td>
        
        </tr>
        <tr>
          <td>bis</td>
          <td>May 20, 2020</td>
      </tbody>
    </table>
  </section>
</main>