<main>
  <h2>User Summary: <%= @user.username %></h2>
  <p>Joined site <%= @user.created_at.strftime('%B %d, %Y')%></p>

  <section class="media-table">
    <h4>Votes</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      </thead>
      <tbody>
        <% votes = @user.votes %>
        <% if votes.empty? != true %>
          <% votes.each do |vote| %>
            <% work = vote.work %>
            <tr>
              <td><%= link_to work.title, work_path(work.id) %></td>
              <td><%= work.creator %></td>
              <td><%= work.publication_year%></td>
              <td><%= work.category.capitalize%></td>
              <td><%= vote.created_at.strftime('%B %d, %Y')%></td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </section>
</main>