<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
      <h1>
        <%= link_to 'Media Ranker', root_path %>
        <small>Ranking the Best of Everything</small>
      </h1>
      <%# the css for the nav links 'link_to' are nav-link %>
      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
          <li class="nav-item app-header__nav_item">
           <%= link_to 'View top media', root_path %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%= link_to 'View all media', works_path %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%= link_to 'Add a new work', new_work_path %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%= link_to 'View all users', users_path %>
          </li>
        </ul>
        <ul class="nav app-header__user-nav-container">

          <li class="nav-item app-header__nav_item">
            <%user = User.find_by(id: session[:user_id]) %>
            <% if user  %>
             <%= link_to 'Logged in as '+user.username, user_path(user.id), class:"btn btn-primary" %>
            <%end%>
          </li>
          <li class="nav-item app-header__nav_item">
            <%=  session[:user_id] ? (link_to 'Log Out', logout_path, method: :post, class:"btn btn-primary") : (link_to 'Log In', login_path, class:"btn btn-primary")%>
          </li>


        </ul>
      </nav>
    </header>
    
    <section class="flash-msg__section">
      <% flash.each do |name, message| %>
        <strong>
          <%= message %>
        </strong>
      <% end %>
    </section>

    <% if @validation_error %>
      <ul class="errors">
        <% @validation_error.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
